<header class="page-header">
    <div class="page-width">
        <div class="grid">
            <div class="grid__item two-thirds below-desk-one-whole">
                <div class="js-nav-toggle beta visuallyhidden--desk float--left soft-half--top">
                    <span class="entypo--menu"></span>
                </div>
                <a href="{{site.baseurl}}" class="one-whole below-desk-one-half"><img src="https://www.5minutelessonplan.co.uk/Images/5mlp-logo.jpg" alt="5 minute lesson plan"></a>
            </div><!--
         --><div class="grid__item one-third visuallyhidden--below-desk">
                <div class="text--right">
                    <a href="http://teachertoolkit.me/" target="_blank" title="by Perspective &amp; TeacherToolkit"><img src="https://www.5minutelessonplan.co.uk/Images/5mlp-right.jpg" alt="by Perspective &amp; TeacherToolkit"></a>
                </div>
            </div>
        </div>
    </div>
</header> <!--End page-header -->